/* FORGOT PASSWORD PAGE ONLY */
.forgot-password-container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* FORM */
.forgot-password-container form {
    background: #fff;
    padding: 25px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* INPUT */
.forgot-password-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.forgot-password-container input:focus {
    border-color: #667eea;
    outline: none;
}

/* BUTTON */
.forgot-password-container button {
    padding: 8px;       
    width: 100%;
    font-size: 14px; 
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.forgot-password-container button:hover {
    background: #5563d1;
}

/* MOBILE */
@media (max-width: 480px) {
    .forgot-password-container form {
        width: 100%;
        padding: 20px;
    }

    .forgot-password-container input,
    .forgot-password-container button {
        font-size: 14px;
    }
}