<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your's expenses</title>
    <link rel="stylesheet" href="../css/expense.css">
</head>
<body>
    <div class="container">
        <form id="expenseForm" onsubmit="handleSubmit(event)">
            <div class="expenseAmount">
                <label for="expenseAmount">Amount:</label>
                <input type="text" id="expenseAmount" name="expenseAmount">
            </div>
            <div class="description">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="category">
                <label for="category">Choose category:</label>
                <select name="category" id="category">
                    <option value="movie">Movies</option>
                    <option value="food">Food</option>
                    <option value="travel">Travel</option>
                    <option value="gaged">Gageds</option>
                    <option value="cloth">Cloths</option>
                    <option value="shoe">Shoes</option>
                    <option value="gimick">Gimicks</option>
                </select>
            </div>
            <button type="submit">Add Expense</button>
        </form>
    </div>
    <div id="expenseList"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="../js/expense.js"></script>
</body>
</html>