
    <div class="container">
        <form id="expenseForm" onsubmit="handleSubmit(event)">
            <div class="expenseAmount">
                <label for="expenseAmount">Amount:</label>
                <input type="text" id="expenseAmount" name="expenseAmount">
            </div>
            <div class="description">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="category" id="categoryDiv">
                <label for="category">Choose category:</label>
                
                <select name="category" id="category">
                    <option value="movie">Movies</option>
                    <option value="food">Food</option>
                    <option value="travel">Travel</option>
                    <option value="gaged">Gageds</option>
                    <option value="cloth">Cloths</option>
                    <option value="shoe">Shoes</option>
                    <option value="gimick">Gimicks</option>
                </select> 
            </div>
            <button type="submit">Add Expense</button>
            <div id="categoryBtnAiDiv">
                <button id="categoryBtnAi" type="button">Choose category by Ai</button>
            </div>
        </form>
    </div>
    <div id="expenseList"></div>
    <!-- <button  type="button" onclick="handlePremium(event)">Get Premium Details</button> -->
    <button type="button" onclick="logout()">logout</button>
    <button type="button" onclick="goPayment()">Payment</button>
    <div id="premiumDiv">
        <h2>Premium Member's</h2>
        <ul id="premium"></ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/expense.js"></script>