
    <div class="container">
        <form id="incomeForm" onsubmit="handleSubmit(event)">
            <div class="incomeAmount">
                <label for="incomeAmount">Amount:</label>
                <input type="text" id="incomeAmount" name="expenseAmount">
            </div>
            <div class="description">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <button type="submit">Add Expense</button>
        </form>
    </div>