<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>


        <form id="form" onsubmit="handleSubmit(event)">
            <div id="nameDiv">

                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Enter your name" name="name" required>
            </div>

            <div id="emailDiv">

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email" name="email" required>
            </div>
            <!-- <p id="alert"></p> -->

            <div id="passwordDiv">

                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password" name="password" required>
            </div>

            <button type="submit" id="button">Sign Up</button>
            <br>
            <a href="#">Already registered? Click login here</a>
        </form>
    <!-- </div> -->
     <script src="../js/signup.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>